# Ignore Eclipse project-specific files and folders
.classpath
.project
/.settings/
/bin/

# Ignore Gradle project-specific cache and build output directories
.gradle
build

# Ignore IntelliJ IDEA project files
.idea

# Ignore NPM package directories
node_modules/
jspm_packages/

# Ignore temporary files
.netrwhist
.~lock.*

# Ignore Vim files
# - Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
# - Session
Session.vim

# Ignore VisualStudioCode project files
.history/
.vscode/
